[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "themes/accessible-minimalism"]
	path = themes/accessible-minimalism
	url = https://github.com/leonstafford/accessible-minimalism-hugo-theme
[submodule "hugo-xmin"]
	path = hugo-xmin
	url = https://github.com/yihui/hugo-xmin
[submodule "themes/hugo-xmin"]
	path = themes/hugo-xmin
	url = https://github.com/yihui/hugo-xmin
[submodule "static/glyphs"]
	path = static/glyphs
	url = https://github.com/marcpabst/klokantech-gl-fonts
